# Directories
auto-save-list/
autosaves/
elpa/
eshell/
server/
.python-environments/

# Extracted or exported emacs.org
emacs.*
!emacs.org

# Other files
.org-id-locations
ac-comphist.dat
bookmarks
recentf
*html
test.el
abbrev_defs